extends layout

block content

  section#description
    p
      | Hey Guys! I am going away and I don't intend to back soon, so I am selling some of my stuff. <br />
      | If you are interesting in any of them, please let me know. Thank you!

  section#content
    div.pure-g
      each product in products
        div.pure-u-1-4
          div.product
            img(src='/images/products/#{product.photo}' class='pic')
            h3 #{product.title}