extends layout

block content

  section(id='description')
    <p>Hey Guys! I am going away and I don't intend to back soon, so I am selling some of my stuff. <br /> If you are interesting in any of them, please let me know. Thank you!</p>

  section(id='content')
    div(class='pure-g')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
      div(class='pure-u-1-4')
        div(class='product')
