extends layout

block content

  form(action='/products', method='POST')
    input(type='text', id='title', name='title', placeholder='title')
    input(type='text', id='price', name='price', placeholder='price')
    textarea(id='description', name='description', placeholder='description')
    button Create