body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400px;
  color: #2c3e50;
  line-height: 24px;
  margin: 0;
  padding: 0;
  background-image: url("/images/bg_header.jpg");
}
a {
  color: #00b7ff;
}
header {
  margin: 0 auto;
  display: block;
  text-align: center;
}
section {
  width: 1000px;
  margin: 0 auto;
}
.product {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  min-height: 220px;
  background-color: #fff;
  margin: 0 15px 15px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
}
#description {
  text-align: center;
}
#content {
  padding-top: 10px;
}
.pic {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}
p {
  margin-top: 0;
}
h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}
