body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0
  padding: 0
  background-image: url('/images/bg_header.jpg')
a
  color: #00B7FF

header
  margin: 0 auto
  display: block
  text-align: center

section
  width: 1000px
  margin: 0 auto

.product
  height: 100px
  background-color: #CCC
  margin: 0 15px 15px 0

